
	<!-- Adds -->
	<div class="add-show">
		<div class="container">
			<div class="row">
				<div class="col-md-12"><a href="#"><img src="{{ asset('assets/images/adds-2.png') }}" alt="adds" /></a></div>
			</div>
		</div>
	</div><!-- Adds /- -->